* {
    margin: 0;
    /* Fonten som ska användas för allt i sidan om inget annat skrivs */
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: grid;
    grid-template: auto / repeat(6, 1fr);
}

/* Centrerar alla objekt i "text" klassen i grid som skapades inom container */
#text1 {
    grid-area: 2/2/3/5;
}

#text2 {
    grid-area: 3/2/4/5;
}

#text3 {
    grid-area: 2/2/3/5;
}

#text4 {
    grid-area: 3 / 2 / 4 / 5;
}

#text5 {
    grid-area: 2/2/3/5;
}

#text6 {
    grid-area: 3 / 2 / 4 / 5;
}

.bild{
    grid-area: 2/5/4/7;
    width: 70%;
    margin: auto;
}

.imgknapp {
    position: relative;
    width: 100%;
}

.imgknapp img {
    width: 100%;
    height: 400px;
}

/* positionera rubrik på bild */
.rubrik {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling och positionering, Knapp */
.imgknapp .btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #1c1864;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn h2{
    font-size: 2vw;
}

/* ändra knappens */
.imgknapp .btn:hover {
    background-color: rgb(141, 202, 255);
    font-weight: bold;
    color: black;
}

/* Styling och positionering, Rubrik */
.rubrik{
    display: flex;
    font-size: 7vw;
    background: linear-gradient(to right, #f1fff0, #0faf00);
    background-clip: text;
    -webkit-background-clip: text; /* För Safari */
    color: transparent;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    font-family: 'Orbitron', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Färgen på navigations menyn */
.topnav {
    background-color: black;
    overflow: hidden;
}

/* Ordna länkarna i menyn */
.topnav a {
    float: left;
    display: block;
    color: rgb(94, 186, 2);
    text-align: center;
    padding: 16px 14px;
    text-decoration: none;
    font-size: 17px;
}

/* Ändra färgen på länkarna i menyn när muspekaren ligger ovan */
.topnav a:hover {
    background-color: rgb(141, 202, 255);
    color: black;
}

/* Markera länken till sidan användaren är inne på i menyn */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Göma naviagtions kanppen för menyn i mobil format */
.topnav .icon {
    display: none;
}

/* Positionera spelet */
.game{
    width: 960px; 
    height: 641px; 
}

/* Göm länkarna */
footer{
    display: none;
}

/* Anpassa till mindre skärmar */
/* Göma alla länkar, visa knappen för att öppna navigations menyn */
@media screen and (max-width: 770px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    footer{
        display: contents;
    }
    .bild {
        grid-area: 3/2/4/6;
        margin-bottom: 5%;
    }
    
    #text1 {
        grid-area: 2/2/3/6;
    }

    #text3{
        grid-area: 2/2/3/6;
    }

    #text5 {
        grid-area: 2/2/3/6;
    }

    #text2 {
        grid-area: 4/2/5/6;
    } 
    
    #text4 {
        grid-area: 4/2/5/6;
    }
    
    #text6 {
        grid-area: 4/2/5/6;
    }
}

/* Göm spelet när skärmen är liten, då spelet inte fungerar på telefoner */
@media screen and (max-width: 1300px) {
    .game{
        display: none;
    }
}